<div class="container">
    <h1>{{profile.user_name}}</h1>
    <p>{{profile.user_email}}</p>
    <p>Minecraft: {{profile.user_mccharacter}}</p>
    <p>{{profile.user_timesvoted}} times voted</p>
    <p>{{profile.user_points}} points</p>
    <p>Registered on {{profile.user_registerdate}}</p>
</div>