<script src="/libs/js/jquery.jeditable.mini.js"></script>
<script src="/libs/js/jquery.color.plus-names-2.1.2.min.js"></script>
<div class="container user-management">
    <h2>User Management </h2><span id="sub-title">
     Showing all {{users.length}} users.</span>
    <input class="form-control" type="text" id="search" placeholder="Search...">
    <script type="text/javascript">
        $("#search").keyup(function () {
            var value = this.value;
            var table = $("table");
            table.find("tr").each(function (index) {
                if (index === 0) return;
                var id = $(this).find("td").first().text();
                $(this).toggle((id.toLowerCase()).indexOf(value.toLowerCase()) !== -1);
            });
            var count = 0;
            table.find("tr").each(function () {
                if ($(this).css('display') !== 'none') {
                    count++;
                }
            });
            if (count - 1 == {{users.length}}) {
                $('#sub-title').text("Showing all {{users.length}} users.");
            }
            else {
                $('#sub-title').text("Showing " + (count - 1) + " out of {{users.length}} users.");
            }
        });
    </script>
    <table class="table table-responsive table-condensed table-hover sortable">
        <thead>
        <tr>
            <th class="text-left sorttable_sorted" width="20%">Username
                <span id="sorttable_sortfwdind"> <i class="fa fa-chevron-up"></i></span>
            </th>
            <th class="text-left" width="20%">Minecraft</th>
            <th class="text-left" width="35%">Email</th>
            <th class="text-left" width="10%">Points</th>
            <th class="text-center" width="5%">Admin</th>
            <th class="text-center" width="5%">Staff</th>
            <th class="text-right sorttable_nosort" width="5%">Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#each users}}
            <tr>
                <td class="edit_username" id="username_{{this.user_pid}}">{{this.user_name}}</td>
                <td class="edit_mc" id="mc_{{this.user_pid}}">{{this.user_mccharacter}}</td>
                <td class="edit_email" id="mail_{{this.user_pid}}">{{this.user_email}}</td>
                <td class="edit_points" id="points_{{this.user_pid}}">{{this.user_points}}</td>
                <td class="text-center" sorttable_customkey="{{this.user_isadmin}}">
                    {{#if this.user_isadmin}}
                        <i id="admin_{{this.user_pid}}" class="fa fa-circle admin_status"></i>
                    {{else}}
                        <i id="admin_{{this.user_pid}}" class="fa fa-circle-o admin_status"></i>
                    {{/if}}
                </td>
                <td class="text-center" sorttable_customkey="{{this.user_isstaff}}">
                    {{#if this.user_isstaff}}
                        <i id="staff_{{this.user_pid}}" class="fa fa-circle staff_status"></i>
                    {{else}}
                        <i id="staff_{{this.user_pid}}" class="fa fa-circle-o staff_status"></i>
                    {{/if}}
                </td>
                <td class="text-right dropdown">
                    <button type="button" class="btn btn-xs btn-standard dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false"><i class="fa fa-pencil"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li role="presentation" class="dropdown-header">{{this.user_name}}</li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" href="#" tabindex="-1" onclick="getProfile('{{this.user_pid}}');">View profile</a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a role="menuitem" tabindex="-1" href="#">Reset Password</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" class="disabled">
                            <a role="menuitem" tabindex="-1" href="#">Delete Account</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.edit_username').editable('/a/users/update_name', {
                indicator: 'Saving...',
                event: "dblclick"
            });
            $('.edit_mc').editable('/a/users/update_minecraft_name', {
                indicator: 'Saving...',
                placeholder: '',
                event: "dblclick"
            });
            $('.edit_email').editable('/a/users/update_email', {
                indicator: 'Saving...',
                event: "dblclick"
            });
            $('.edit_points').editable('/a/users/update_points', {
                indicator: 'Saving...',
                event: "dblclick"
            });
            $('.admin_status').click(function () {
                toggleStatus('admin', this);
            });
            $('.staff_status').click(function () {
                toggleStatus('staff', this);
            });
            function toggleStatus(type, focus) {
                var element = $(focus);
                element.css('pointer-events', 'none');
                element.addClass('hover-jq');
                $.post('/a/users/toggle_' + type, {id: focus.id}
                ).done(function (status) {
                    var originalColor = '#555555';
                    var color = '#28b62c';
                    var classEnabled = 'fa-circle';
                    var classDisabled = 'fa-circle-o';
                    if (status == "0") {
                        color = '#ff4136';
                        classDisabled = [classEnabled, classEnabled = classDisabled][0];
                    }
                    element.fadeOut(function () {
                        element.removeClass(classDisabled);
                        element.addClass(classEnabled);
                        element.css('color', color);
                        element.fadeIn(function () {
                            element.removeClass('hover-jq');
                            element.css('pointer-events', '');
                            element.animate({
                                color: originalColor
                            }, 1500);
                        });
                    });
                });
            }
        });
    </script>
</div>